ul{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}
li a{
    height: 22.5rem;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: 20rem;
    border: 5px solid whitesmoke;
    border-radius: 1rem;
    overflow: hidden;
    color: red;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;
}
li a img{
    object-fit: cover;
    height: 14.5rem;
}
.conatent{
    /* border: 1px solid red; */
    height: 4rem;
    position: relative;
    padding: 0rem 1rem;
    /* margin-top: 0.3rem; */
}
.favorite{
    font-size: 1.2rem;
    right: 1rem;
    top: 0.5rem;
    position: absolute;
}
.favorite.not{
    color: gray;
}
/* .stars{
    margin-bottom: 0.2rem;
} */
.product-item-folder{
    /* border: 1px solid salmon; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
/* .origins{
    flex: 9;
} */
.origins span{
    margin-top: 0.2rem;
    margin-left: 1rem;
    padding: 0 0.5rem;
    margin-right: 0.3rem;
    color: gray;
    font-size: 0.8rem;
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 2rem;
}
.cook-time{
    text-align: right;
    /* flex: 3; */
    font-size: 0.9rem;
}
.setup{
    margin-top: 0.5rem;
    /* border: 1px solid blueviolet; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.price{
    font-size: 1.1rem;
    /* margin-top: 0.7rem; */
    color: gray;
    padding: 0.3rem;
    left: 0.9rem;
    background: white;
    
}